<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="notice-mapper">
	<select id="selectList" parameterType="String" resultType="Notice">	
		SELECT *
		FROM NOTICE
		ORDER BY NOTICEDATE DESC
	</select>
	
	<select id="searchNotice" parameterType="hashmap" resultType="Notice">
		SELECT *
		FROM NOTICE
		<if test="keyword != null">
			<if test="option == 0">
				WHERE NOTICETITLE LIKE CONCAT(CONCAT('%', #{keyword}), '%')
			</if>
			<if test="option == 1">
				WHERE NOTICECONTENT LIKE CONCAT(CONCAT('%', #{keyword}), '%')
			</if>
			<if test="option == 2">
				WHERE NOTICETITLE LIKE CONCAT(CONCAT('%', #{keyword}), '%')
					OR NOTICECONTENT LIKE CONCAT(CONCAT('%', #{keyword}), '%')
			</if>
		</if>
		ORDER BY NOTICEDATE DESC
	</select>
	
	
	<select id="selectTotalContents" resultType="int">
		SELECT COUNT(*) FROM NOTICE
	</select>
	
<select id="searchTotalContents" parameterType="hashmap" resultType="int">
		SELECT COUNT(*) 
		FROM NOTICE
		<if test="keyword != null">
			<if test="option == 0">
				WHERE NOTICETITLE LIKE CONCAT(CONCAT('%', #{keyword}), '%')
			</if>
			<if test="option == 1">
				WHERE NOTICECONTENT LIKE CONCAT(CONCAT('%', #{keyword}), '%')
			</if>
			<if test="option == 2">
				WHERE NOTICETITLE LIKE CONCAT(CONCAT('%', #{keyword}), '%')
					OR NOTICECONTENT LIKE CONCAT(CONCAT('%', #{keyword}), '%')
			</if>
		</if>
	</select>
	
	<select id="selectOnenotice" parameterType="_int" resultType="Notice">
		SELECT * FROM NOTICE WHERE NOTICENO = #{noticeNo}
	</select>
	
	<select id="selectOneCurrent" resultType="Notice">
		SELECT * 
		FROM 
			(SELECT * 
			 FROM NOTICE 
			 ORDER BY NOTICEDATE DESC) 
		WHERE ROWNUM = 1
	</select>
	
	<insert id="insertNotice" parameterType="Notice">
		INSERT INTO NOTICE 
		VALUES(SEQ_NNO.NEXTVAL, 
			   #{noticeTitle},
		       #{noticeContent},
		       DEFAULT)
	</insert>
	
	<update id="updateNotice" parameterType="Notice">
		UPDATE NOTICE
		SET NOTICETITLE = #{noticeTitle},
			NOTICECONTENT = #{noticeContent}
		WHERE NOTICENO = #{noticeNo}
	</update>
	
	<delete id="deleteNotice" parameterType="int">
		DELETE FROM NOTICE WHERE NOTICENO = #{noticeNo}
	</delete>

</mapper>